.navbar {
  background-color: #040913; /* dark navy */
  padding: 1rem 0;
  color: #e0e7ff; /* light lavender */
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  /* border-bottom:1px solid whitesmoke; */
}

.navContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.logo {
  font-size: 1.75rem;
  font-weight: 900;
  color: #f5f5f8;
  cursor: default;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navLink {
  color: #a5b4fc;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #6366f1;
  text-decoration: none;
}
